.loadingCircle {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    border: 3px solid transparent;
    border-top: 3px solid #909;
    border-radius: 50%;

    animation: 1s linear loadingCircle infinite;
}

@keyframes loadingCircle {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

.successPopup {
    background: radial-gradient(circle at top right, #909, transparent),
                radial-gradient(circle at bottom left, #9146FF, #fff);
    padding: 5px;
    box-shadow: 0 0 5px #000;
}