body {
    margin: 0;
}

.active {
    background-color: #f0f0f0; /* Hintergrund des Moduswechsel-Buttons, wenn im Erstellmodus */
}

form.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 301px;
}

.leaflet-popup-content-wrapper {
    overflow:hidden;
    padding:0 !important;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:fit-content;
}

.leaflet-popup-content p {
    display:block;
    width: fit-content;
    text-align: center;
    margin:0;
}

.leaflet-popup-content img {
    width: 100%;
}

.wrapperDescription {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    margin-bottom: 5px;
}

.popupButtons, .imageLabel {
    position: absolute;

    border:none;
    border-radius: 3px;

    background-color: transparent;
    background-image: linear-gradient(to right, #909 33.33%, transparent 66.67%);
    background-size: 300%; 
    background-position: 100%;

    transition-duration: 0.5s;

    height: 20px;
    width: 215px;
    padding: 5px;
    text-align: center;
}

.filled {
    width: 219px;
    background-color: rgba(153,0,153,0.2);
    border: none;
    border-bottom: 4px solid #909;
    border-radius: 3px 3px 0 0;
}

.popupSubmit {
    height: 34px;
    width: 229px;
    background-color: transparent;
}

.popupButtons:focus-visible, .popupButtons:focus, .imageLabel:hover, .popupButtons:hover {
    color: #fff;
    outline: none;
    background-position: -2px;
    cursor: pointer;
}