body {
    position: relative;
    height:100vh;
    width: 100vw;
    margin:0;
    padding:0;
    overflow: hidden;
    text-shadow: 0 0 2px #909;
}

.likeALink, a {
    padding: 0;
    text-decoration: none;
    color: rgb(255, 0, 255);
    transition: 0.3s;
}

.likeALink:hover, a:hover {
    color: rgb(77, 19, 158);
    cursor: pointer;
}

.leadingAway::before {
    content: url('../linkArrow.webp');
    padding: 0;
    margin:0;
}

footer, header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    padding: 5px 0 5px 0;
    z-index:1;
}



header {
    top: 0;
    bottom: auto;
    z-index: 3;
}



main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../sticker.jpg');
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover !important;
}

.contentBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51,51,51,0.7);
    margin-top: 10px;
    padding: 10px;
}

.contentBox h4 {
    margin-top: 20px;
    margin-bottom: 0;
    height: 20px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0;
    border-radius: 30px 10px 10px 30px;
    font-size: 25px;
    height: 32px;
}

.userPfp {
    height: 32px;
    border-radius: 50%;
}

.userPins {
    position: relative;
    width: 750px;
    max-width: 75vw;
    max-height: calc(50% - 82px);
}

.pinListWrapper {
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.pinList li {
    position: relative;
    padding: 5px;
    padding-left: 20px;
}

.pinList li::before {
    content: "";
    display: block;
    position: absolute;
    left:0;
    width: 16px;
    height: 16px;
    background-image: url('../bastisticker-64x64.png'); /* Pfad zu deinem Bild */
    background-size: contain; /* Passt das Bild in die Größe des Markers ein */
}

.userPictures {
    width: 750px;
    max-width: 75vw;
    height: calc(50% - 82px);
    max-height: 750px;
}

.picturesDraggableSlider {
    display: flex;
    flex-direction: row;
    height: calc(100% - 40px);
    width: 100%;
    border-radius: 5px;;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: grab;
}

.picturesDraggableSlider::-webkit-scrollbar {
    display: none;
}

.picturesDraggableSlider img {
    height: 100%;
    border-radius: 5px;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}